{% extends "baseU.html" %}
{% block title %} Recomendacion Genero {% endblock title%}
{% block content %}
<div>
    <h1 class="center-align titulo">Encontramos estos juegos similares por Genero</h1>
</div>


<div class="row">
    <div class="col-3"></div>
    <div class="col-12">
    {%for lista in listas %}
        <ul class="cbp-rfgrid">
        <p style = "color:black;"> {{lista.descripcion}} </p>
        <div class="row">
      	    {%for juego in lista.juegos.all %}      		  
      		    <li><a href="{% url 'ver_juego' juego.id_juego%}"><img src='https://www.mobygames.com/images/covers/s/392832-that-trivia-game-playstation-4-front-cover.jpg' width="520" height="180" ></img><div><strong>{{juego.titulo}}</strong></div></a></li>		 
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</div>
  

<div>
    <a href="{% url 'recomendacion' user.get_username %}" class="btn btn-danger btn-lg btn-block" name="" type="submit">Atras</a>
</div>

{% endblock content %}
{% block scripts %}
{% endblock scripts %}