{% extends "base.html" %}
   {% block title %} Caracteristicas {% endblock title%} 
   {% block content %}
    <!--BODY-->

    <div>
      <h1 class="center-align titulo">Caracteristicas PU</h1>
    </div>
    <div class="row" id="container-table" >
        <table>            
            <thead>
              <tr>
                  <th>Usuario</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
              </tr>
          </thead>
            {%for caracteristica in fvcpu %}        
            <tr>
              <td>{{caracteristica.cpu}}</td>
              <td>{{caracteristica.carusu1}}</td>
              <td>{{caracteristica.carusu2}}</td>
              <td>{{caracteristica.carusu3}}</td>
              <td>{{caracteristica.carusu4}}</td>
              <td>{{caracteristica.carusu5}}</td>
              <td>{{caracteristica.carusu6}}</td>
              <td>{{caracteristica.carusu7}}</td>
              <td>{{caracteristica.carusu8}}</td>
              <td>{{caracteristica.carusu9}}</td>
              <td>{{caracteristica.carusu10}}</td>
            </tr>
            {%endfor%}
        </table>
        {%include 'pagination.html' with page=fvcpu%}                
    </div>
    <!--navegador de pie-->
    <div class="row">
        <a href="{% url 'perfil_adm' administrador.nombre%}" class="btn btn-danger btn-lg btn-block" name="" type="submit">Atras</a>
    </div>
    <!--FOOTER-->
    {% endblock content %}