{% extends "base.html" %}    
{% block title %} Modificar Genero {% endblock title %}
{% block content %}
<div>
    <h1 class="center-align titulo">Modificar Genero</h1>
</div>
<div class="login-text-box">
    <form action="." method="POST">
	    {% csrf_token %}
		<div class="row" id="container-table" >
	        <table>
		{{fgenero.as_table}}
		</table>
		</div>
	    <input type="submit" value="Submit form">
	    </form>
		<div class="col-md-4">
                <a href="{% url 'genero_plataforma' administrador.nombre%}" class="btn btn-sucess btn-lg btn-block" name="" type="submit">Aceptar</a>                
              </div>
          </div>        
 {% endblock content %}
