<!--FOOTER-->
<footer id="contact">
        <div class="container-footer-all">
            <div class="container-foot">
                <div class="column1">
                    <h3>FUENTES</h3>
                        <div class="row11">
                            <i class="fa fa-question-circle"></i>
                            <a href="https://www.mobygames.com/">MOBYGAMES</a>
                        </div>                        
                </div>
                <div class="column2">
                        <h3>INFORMACIÓN</h3>
                        <div class="row22">
                            <i class="fa fa-list-ol"></i>
                            <a href="{% url 'InfGeneros' %}">GENEROS</a>
                        </div>
                        <div class="row22">
                            <i class="fa fa-terminal"></i>
                                <a href="{% url 'InfConsolas' %}">CONSOLAS</a>
                            </div>
                </div>
            </div>
                <div class="container-footer">
                        <div class="copyright">
                            ° 2020 Todos los derechos reservados|
                            <a href="">BubbaCorp</a>
                        </div>
                </div>
        </div> 
    </footer>


