{% extends "baseU.html" %}    
{% load static %}
{% block title %} Registro {% endblock title %}
{% block content %}
    <!--BODY-->
    <div class="wrapper">
        <div class="main_body">
            <div class="container">
                <div class="list-group">
                    <a href="https://www.xatakandroid.com/sistema-operativo/que-es-android" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Android</h5>
                        </div>
                        <p class="mb-1">Android es un sistema operativo inicialmente pensado para teléfonos móviles. Está basado en Linux, un núcleo de sistema operativo libre, gratuito y multiplataforma.</p>
                        <small>Fuente: Xataka Android</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Arcade" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Arcade</h5>
                        </div>
                        <p class="mb-1">Máquinas recreativas de videojuegos disponibles en lugares públicos de diversión, centros comerciales, restaurantes, bares, o salones recreativos.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://www.euston96.com/dreamcast/" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Dreamcast</h5>
                        </div>
                        <p class="mb-1">consola de videojuegos hecha para el hogar y fabricada por Sega. Fue la última consola de videojuegos para el hogar hecha por esta empresa.</p>
                        <small>Fuente: Euston 96</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Nintendo_3DS" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">3DS</h5>
                        </div>
                        <p class="mb-1">Videoconsola portátil de la multinacional de origen japonés, Nintendo, para videojuegos y multimedia, cuya atracción principal es poder mostrar gráficos en 3D sin necesidad de gafas especiales.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Nintendo_DSi" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">DS/ DSi</h5>
                        </div>
                        <p class="mb-1">Videoconsola portátil fabricada por Nintendo. Proporciona mejoras detrás del escenario al rendimiento del sistema.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Game_Boy" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Gameboy</h5>
                        </div>
                        <p class="mb-1">Videoconsolas portátiles alimentadas con pilas. Comercializadas por Nintendo.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Game_Boy_Advance" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Gameboy Advance</h5>
                        </div>
                        <p class="mb-1">Videoconsolas portátiles. Comercializadas por Nintendo.Cuenta con un procesador ARM propio de 32 bits a 16,7 MHz, basado en la arquitectura RISC, con una potencia suficiente para permitir el desarrollo de juegos utilizando el lenguaje de programación C. </p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://www.nintendo.es/Empresa/La-historia-de-Nintendo/Game-Boy-Color/Game-Boy-Color-627137.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Gameboy Color</h5>
                        </div>
                        <p class="mb-1">Videoconsolas portátiles. Comercializadas por Nintendo.una potencia de procesamiento dos veces mayor que la Gameboy</p>
                        <small>Fuente: Nintendo</small>
                      </a>
                      <a href="https://www.euston96.com/gamecube/" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">GameCube</h5>
                        </div>
                        <p class="mb-1">La consola de videojuegos GameCube fue desarrollada y distribuida por Nintendo. Forma parte de la sexta generación de videojuegos y fue la competencia directa de la Play Station 2 de Sony y la Xbox de Microsoft.</p>
                        <small>Fuente: Euston 96</small>
                      </a>
                      <a href="https://www.definicionabc.com/tecnologia/ipad.php" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Ipad/ Iphone</h5>
                        </div>
                        <p class="mb-1">El Ipad es un dispositivo electrónico, tipo tablet, esto quiere decir que asume la modalidad de computadora portátil a través de la cual se puede interactuar por medio de una pantalla táctil o multi táctil, permitiéndole con esto al usuario maniobrar la misma con una pluma stylus o con los dedos; este dispositivo ha sido recientemente desarrollado por la empresa Apple Inc. </p>
                        <small>Fuente: Definición ABC</small>
                      </a>
                      <a href="https://www.java.com/es/download/faq/whatis_j2me.xml" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">J2ME</h5>
                        </div>
                        <p class="mb-1">Entorno flexible y sólido para aplicaciones que se ejecutan en dispositivos móviles e integrados. Se creó originalmente para paliar las limitaciones asociadas a la creación de aplicaciones para pequeños dispositivos.</p>
                        <small>Fuente: Java</small>
                      </a>                      
                      <a href="https://es.wikipedia.org/wiki/Neo_Geo_(marca)" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Neo-Geo</h5>
                        </div>
                        <p class="mb-1">Es un hardware de videojuegos desarrollada por SNK. Reconocida por sus altos precios.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="http://retromaquinitas.com/nes/" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">NES</h5>
                        </div>
                        <p class="mb-1">Consola de 8-bits que fue lanzada por Nintendo. </p>
                        <small>Fuente: Retro Maquinitas</small>
                      </a>
                      <a href="https://nintendo.fandom.com/es/wiki/Nintendo_Switch" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Nintendo Switch</h5>
                        </div>
                        <p class="mb-1">Consola híbrida desarrollada por Nintendo. Consola portátil con forma de tableta que puede ser insertada en una base conectada al televisor para usarla como consola de sobremesa, lo que la hace híbrida.</p>
                        <small>Fuente: Nintendo Wiki</small>
                      </a>
                      <a href="https://www.ecured.cu/Nintendo_64" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Nintendo 64</h5>
                        </div>
                        <p class="mb-1">El Nintendo 64 fue la cuarta videoconsola de sobremesa de Nintendo, desarrollada para suceder a la Super Nintendo y para competir con la Saturn de Sega y la PlayStation (PSX) de Sony. Incorpora en su arquitectura un procesador principal de 64 bits. Su producción cesó al ser sustituida por GameCube. </p>
                        <small>Fuente: EcuRed</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/PlayStation" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PlayStation </h5>
                        </div>
                        <p class="mb-1">Videoconsola de sobremesa de 32 bits lanzada por Sony Computer Entertainment. E es la primera videoconsola de Sony.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>                      
                      <a href="https://es.wikipedia.org/wiki/PlayStation_2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PlayStation 2</h5>
                        </div>
                        <p class="mb-1"> Videoconsola de sobremesa producida por Sony Computer Entertainment.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/PlayStation_3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PlayStation 3  </h5>
                        </div>
                        <p class="mb-1">Videoconsola de sobremesa producida por Sony Computer Entertainment. Se mejora el rendimiento del sistema</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://www.frikipandi.com/etiquetas/ps4/" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PlayStation 4</h5>
                        </div>
                        <p class="mb-1">demás consolas desarrolladas por la compañía, integra más características, opciones y posibilidades que PlayStation 3 o anteriores. </p>
                        <small>Fuente: FrikiPandi.com</small>
                      </a>
                      <a href="https://www.ecured.cu/PlayStation_Portable" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PSP</h5>
                        </div>
                        <p class="mb-1">PlayStation Portable o PSP. Videoconsola portátil de la multinacional de origen japonés, Sony Computer Entertainment, para Videojuegos y Multimedia. </p>
                        <small>Fuente: EcuRed</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/PlayStation_Vita" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">PS Vita</h5>
                        </div>
                        <p class="mb-1"> videoconsola portátil creada por Sony Computer Entertainment, es la sucesora de PlayStation Portable.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://nintendo.fandom.com/es/wiki/Super_Nintendo_Entertainment_System" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">SNES</h5>
                        </div>
                        <p class="mb-1">videoconsola de 16 bits. La consola incluyó gráficos y sonidos avanzados comparada con otras consolas del momento. Adicionalmente, el desarrollo de chips de mejoras (que se integraban dentro de cada juego) ayudaron a mantener su competitividad en el mercado. </p>
                        <small>Fuente: Nintendo Wiki</small>
                      </a>
                      <a href="https://www.nintendo.es/Atencion-al-cliente/Padres/Hardware/Wii/-Que-es-Wii-/-Que-es-Wii--920239.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Wii</h5>
                        </div>
                        <p class="mb-1">Consola doméstica de Nintendo. Se introdujo el juego con control por movimiento para una amplia audiencia de fans de Nintendo y también para gente que no eran los tradicionales jugadores de videojuegos. </p>
                        <small>Fuente: Nintendo</small>
                      </a>
                      <a href="https://www.nintendo.es/Wii-U/La-consola/La-consola-660145.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Wii U</h5>
                        </div>
                        <p class="mb-1">Wii U es la nueva consola doméstica de Nintendo, una consola que cambia radicalmente la relación que tienes con tu televisor y la forma en la que te conectas con tus amigos y familiares. Una consola potente de alta definición con un mando extraordinario, el Wii U GamePad, que redefine cómo juegas con otros.</p>
                        <small>Fuente: Nintendo</small>
                      </a>
                      <a href="https://hablamosdegamers.com/analisis/que-es-un-pc-gaming/" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Windows/ Linux</h5>
                        </div>
                        <p class="mb-1">Es una computadora u ordenador que puede estár especialmente diseñado para jugar a videojuegos. Esto no significa que no puedas hacer otras funciones con él, como escribir textos, navegar por Internet o ver películas y vídeos: puedes.</p>
                        <small>Fuente: Hablamos de Gamers</small>
                      </a>
                      <a href="https://es.wikipedia.org/wiki/Xbox" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">XBOX</h5>
                        </div>
                        <p class="mb-1"> Es una videoconsola de sobremesa de sexta generación producida por Microsoft y la primera de esta empresa, en colaboración con Intel. Su principal característica es su procesador central basado en el procesador Intel Pentium III. El sistema también incorpora un lector de DVD, un disco duro interno, puerto ethernet y por último el sistema dispone de cuatro conectores para los mandos.</p>
                        <small>Fuente: Wikipedia</small>
                      </a>
                      <a href="https://www.xataka.com/videojuegos/caracteristicas-de-la-xbox-360" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">XBOX 360</h5>
                        </div>
                        <p class="mb-1">Es una videoconsola de sobremesa de septima generación producida por Microsoft y la segunda de esta empresa, en colaboración con IBM. Su principal característica es la tarjeta gráfica  ATI Radeon R500. El sistema también incorpora un lector de DVD, un disco duro interno, puerto ethernet y por último el sistema dispone de cuatro conectores para los mandos.</p>
                        <small>Fuente: Xataka</small>
                      </a>
                      <a href="https://www.microsoft.com/es-es/store/b/xbox" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">XBOX ONE</h5>
                        </div>
                        <p class="mb-1">Pone tu entretenimiento favorito a tu alcance gracias a su disco duro de 500 GB o 1 TB, un mando inalámbrico, compatibilidad con versiones anteriores para un número cada vez mayor de juegos de Xbox 360 y la posibilidad de acceder a tus aplicaciones favoritas directamente desde tu videoconsola.
                        </p>
                        <small>Fuente: Microsoft</small>
                      </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}