{% extends "baseU.html" %}    
{% load static %}
{% block title %} Registro {% endblock title %}
{% block content %}
    <!--BODY-->
    <div class="wrapper">
        <div class="main_body">
            <div class="container">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Acción</h5>                        
                      </div>
                      <p class="mb-1">Este género solo se aplica a juegos que no encajan en otros géneros básicos basados en la acción, como Racing / Driving, Role-Playing (RPG) y Sports. Sin embargo, algunos juegos usan un híbrido de géneros y luego se permite una combinación. Esto se aplica casi exclusivamente a la combinación con Racing / Driving, p. los juegos posteriores de Grand Theft Auto (Action + Racing / Driving). Los juegos de conducción que se centran también en el combate vehicular, como Wreckfest o los juegos de Mario Kart no reciben el género Action, sino que usan el género secundario Vehicular Combat.

                        Otra combinación rara es Acción + Aventura, donde tanto la historia tradicional como la mecánica de aventuras basadas en rompecabezas se combinan con secuencias de acción. Esto no debe confundirse con el género Action-Adventure que se utiliza como término de marketing. MobyGames no usa el género Acción-Aventura. Esos juegos siempre se tratan como juegos de acción aquí.</p>                      
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Arcade</h5>
                      </div>
                      <p class="mb-1">Arcade no se refiere a juegos que se originaron como máquinas arcade, sino a juegos de acción con una interacción de juego muy simple similar a los juegos de arcade con monedas. Estos juegos generalmente requieren poca resolución de rompecabezas o pensamiento táctico y se basan únicamente en el juego de "contracción". Los subgéneros relacionados incluyen juegos de laberinto y juegos de paleta / Pong.</p>                     
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Aventura</h5>
                      </div>
                      <p class="mb-1">Los juegos de aventura enfatizan experimentar una historia a través del diálogo y la resolución de acertijos. La mecánica del juego enfatiza la decisión sobre la acción. La resolución de rompecabezas generalmente gira en torno a combinar o manipular elementos para avanzar en la historia. Algunos subgéneros como las novelas visuales a menudo se saltan la resolución de acertijos y se centran completamente en la narrativa interactiva. El nombre Adventure proviene del juego Adventure (también conocido como Colossal Cave), y no del género de película / libro no relacionado Adventure.</p>                     
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Bélico</h5>
                        </div>
                        <p class="mb-1">Los juegos de artillería son juegos tácticos (generalmente por turnos) en los que los jugadores intentan hacerse daño disparando proyectiles de artillería u otras armas influenciadas por la gravedad a grandes distancias. Por lo general, los jugadores dan un ángulo para disparar y una velocidad. Deben tenerse en cuenta factores externos como las obstrucciones del terreno y la fuerza del viento.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Carreras</h5>
                        </div>
                        <p class="mb-1">Los juegos de carreras / conducción le permiten al jugador correr o conducir vehículos de manera pausada. Las carreras se pueden realizar en vehículos, monturas, a pie o en gráficos completamente abstractos. Los juegos con este género deben tener carreras / conducción para la mayoría del juego, no solo como una secuencia corta.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Deporte</h5>
                        </div>
                        <p class="mb-1">Los juegos deportivos son juegos en los que los jugadores controlan a jugadores o administradores de un deporte real o ficticio.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Disparo</h5>
                        </div>
                        <p class="mb-1">Los juegos de disparos son un amplio género de acción en el que el jugador dispara a enemigos u objetivos como una mecánica de juego principal. Esto puede ser desde cualquier perspectiva.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Educacional</h5>
                        </div>
                        <p class="mb-1">Los juegos educativos intentan enseñar al jugador a través del juego. Generalmente destinados a los niños más pequeños, los juegos educativos ofrecen una forma divertida e indirecta de practicar temas "no divertidos" como ortografía, matemáticas, historia, etc. Los juegos educativos a menudo se denominan "Edutainment".</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Estrategia</h5>
                        </div>
                        <p class="mb-1">Los juegos de estrategia / táctica giran en torno al uso estratégico y / o táctico de recursos a menudo en escenarios de combate o gerenciales.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Juegos de mesa</h5>
                        </div>
                        <p class="mb-1">Los juegos de mesa suelen ser juegos de estrategia / táctica con un fuerte enfoque en multijugador. A menudo son traducciones directas de juegos de mesa físicos. Los subgéneros relacionados son Cards, Chess y Game Show. </p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Música</h5>
                        </div>
                        <p class="mb-1">Los juegos de música / ritmo son juegos en los que el jugador hace música o debe operar a un cierto ritmo. Algunos juegos de música pueden requerir instrumentos musicales reales o facsímiles del controlador (o canto) como entrada para el juego.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Peleas</h5>
                        </div>
                        <p class="mb-1">Los Beat 'em ups, también conocidos como Brawlers, se centran en el combate cuerpo a cuerpo con una gran cantidad de antagonistas. Por lo general, los jugadores pueden realizar una amplia variedad de movimientos de combate y combos para lastimar a los oponentes. Estos juegos generalmente se dividen en niveles similares a los juegos de plataformas o juegos de acción. Los Beat ‘em ups no deben confundirse con los juegos Versus Fighting que ofrecen peleas equilibradas en la arena entre equipos igualmente equilibrados o personajes individuales.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Plataforma</h5>
                        </div>
                        <p class="mb-1">Los juegos de plataformas pueden ser tanto en 2D como en 3D en los que saltar o trepar a plataformas en varias elevaciones es un enfoque principal del juego. Los primeros juegos de plataformas se centraban principalmente en subir a las plataformas usando escaleras, mientras que los juegos posteriores generalmente se enfocan más en saltar.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Rol (RPG)</h5>
                        </div>
                        <p class="mb-1">Los juegos de rol (RPG) pertenecen a un amplio y variado género de juegos que se centra en el desarrollo del personaje. Los aspectos adicionales que a menudo se encuentran en los juegos de rol son:

                            Amasar riqueza
                            Narrativa
                            Combate táctico
                       
                       El desarrollo del personaje en los juegos de rol no ocurre necesariamente como en las historias tradicionales, sino que significa que los personajes principales del juego aprenden nuevas habilidades o mejoran las capacidades de los viejos. El desarrollo del personaje también incluye la recolección de armamento y / o utilidades de poder gradualmente creciente.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Rompecabezas</h5>
                        </div>
                        <p class="mb-1">Los juegos de rompecabezas se centran exclusivamente en resolver acertijos, generalmente sin mucha narrativa. Los rompecabezas existen en muchas variedades: estratégicos, tácticos, lógicos, trivia, juegos de palabras, etc.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Simulación</h5>
                        </div>
                        <p class="mb-1">"Los juegos de simulación pueden ser uno de los muchos tipos diferentes de simulaciones. Lo que todas las simulaciones tienen en común es que están modeladas de manera más realista para situaciones y / o variables de la vida real que la mayoría de los juegos. Los juegos de simulación pueden modelar una amplia variedad de situaciones y variables diferentes, las más comunes son:

                            Simulaciones comerciales / comerciales
                            Simulaciones de construcción
                            Simulaciones de vida
                            Simulaciones de gestión
                            Simulaciones Deportivas
                            Simuladores de vehículos y simuladores de combate vehicular
                            Simulaciones de guerra (Wargames)"</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Survival horror</h5>
                        </div>
                        <p class="mb-1">Los juegos de Survival Horror dejan al jugador en un escenario de terror donde la supervivencia contra enemigos generalmente sobrenaturales se ve dificultada por la escasa distribución de armas y municiones y, a menudo, un enfoque más realista de las capacidades físicas de los protagonistas. El objetivo de estos juegos suele ser escapar de la situación peligrosa e intentar sobrevivir.</p>                     
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Trivia</h5>
                        </div>
                        <p class="mb-1">Los juegos de Game Show / Trivia / Quiz ponen a prueba al jugador en su conocimiento sobre ciertos temas o su capacidad para descubrir palabras o imágenes ocultas. Por lo general, el jugador es recompensado con puntos o moneda virtual.</p>                     
                      </a>                      

                  </div>
            </div>
        </div></div>
        {% endblock content %}